* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: "Helvetica Neue";
  background-color: #0a22f4;
  color: white;
}

.body {
  max-width: 1000px;
  width: 100%;
  margin: 275px auto 40px;
}

.contact-form-flex {
  display: flex;
  justify-content: space-between;
}

.h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.text {
  max-width: 463px;
  margin-bottom: 58px;
  font-size: 16px;
}

.map {
  border-radius: 15px;
  margin-bottom: 70px;
}

.contact-section {
  display: flex;
}

.contact-icon {
  background-color: white;
  padding: 22px;
  border-radius: 50%;
  margin-right: 20px;
}

.contact-div {
  display: flex;
  align-items: center;
  margin-right: 98px;
  margin-bottom: 40px;
}

.contact {
  text-decoration: none;
  font-size: 22px;
}

.label {
  display: block;
  max-width: 463px;
  margin-bottom: 10px;
}

.input {
  display: block;
  max-width: 463px;

  border: none;
  border-bottom: 1px solid cornflowerblue;
  height: 30px;
  margin-bottom: 40px;
}

.form-text {
  height: 120px;
}

.button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 172px;
}

.click {
  text-decoration: none;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 18px 36px;
  border-radius: 28px;
  border: none;
}

.all-rights {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
}

.flex-div {
  display: flex;
  align-items: center;
}

.p {
  display: inline-block;
  margin-right: 30px;
}
